body {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-family: 'Abel';
  color: rgb(40,40,40);
  cursor: default;
  overflow-x: hidden;
  background: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

::selection {
  background: rgb(140, 240, 180);
}
::-moz-selection {
  background: rgb(140, 240, 180);
}

::-webkit-input-placeholder {
   color: rgb(170,170,170);
}

:-moz-placeholder {
   color: rgb(170,170,170);  
}

:-ms-input-placeholder {  
   color: rgb(170,170,170);  
}

html { width: 100vw; }

a {
  text-decoration: none;
  outline: none;
  color: rgb(86, 171, 114);
}

a:hover {
  color: rgb(46, 121, 84);
  outline: none;
}

a.simple-link {
  color: rgb(81,82,84);
}

a.simple-link:hover {
  color: rgb(10,10,10);
}

input:focus {
  outline: none;
}

.entry:hover {
  border-left: solid 6px rgb(136, 138, 140) !important;
  padding-left: 3px !important;
}

.tab:hover {
  border-left: solid 6px rgb(86, 171, 114) !important;
  padding-left: 3px !important;
}

.link-icon {
  opacity: 0.4;
}

.link-icon:hover {
  opacity: 0.7;
}

/* css spinner from http://projects.lukehaas.me/css-loaders/ */

.loader-gray:before,
.loader-gray:after,
.loader-gray {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load8 1.8s infinite ease-in-out;
  animation: load8 1.8s infinite ease-in-out;
  font-size: 10px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-green:before,
.loader-green:after,
.loader-green {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  font-size: 10px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(86, 171, 114);
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(86, 171, 114);
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(86, 171, 114);
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(86, 171, 114);
  }
}

@-webkit-keyframes load8 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(146, 148, 150);
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(146, 148, 150);
  }
}
@keyframes load8 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(146, 148, 150);
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(146, 148, 150);
  }
}
