extends layout


block header
    include includes/header


block content
    .content
        .row

            .column-2.hidden-mobile.sidebar.noselect
                include includes/sidebar
        
            .column-2.hidden-mobile.empty-container

            .main
        
                #topbar
                #leaderboard-container