extends layout


block header
    include includes/header


block content
    .content
        section
            #leaderboard-container

        section
            .row
                h3
                    | About

            .row
                p
                    | YOLO fixie authentic, VHS sartorial literally Kickstarter taxidermy. Blog swag fashion axe authentic. Cliche distillery YOLO fashion axe readymade, mustache aesthetic fingerstache gluten-free art party selvage salvia meditation XOXO. Fap flannel locavore, master cleanse meditation art party organic chillwave Austin farm-to-table four loko twee pickled Vice cold-pressed. Chambray PBR&B DIY, ennui art party post-ironic kitsch skateboard migas aesthetic Banksy freegan Vice gastropub sriracha. Pour-over chambray listicle, mlkshk Etsy food truck whatever PBR&B PBR Banksy heirloom tattooed. Direct trade ethical twee, tousled keytar pug Intelligentsia master cleanse bitters artisan retro.


        section
            .row
                h3
                    | How to Submit
            .row
                p
                    | YOLO fixie authentic, VHS sartorial literally Kickstarter taxidermy. Blog swag fashion axe authentic. Cliche distillery YOLO fashion axe readymade, mustache aesthetic fingerstache gluten-free art party selvage salvia meditation XOXO. Fap flannel locavore, master cleanse meditation art party organic chillwave Austin farm-to-table four loko twee pickled Vice cold-pressed. Chambray PBR&B DIY, ennui art party post-ironic kitsch skateboard migas aesthetic Banksy freegan Vice gastropub sriracha. Pour-over chambray listicle, mlkshk Etsy food truck whatever PBR&B PBR Banksy heirloom tattooed. Direct trade ethical twee, tousled keytar pug Intelligentsia master cleanse bitters artisan retro.