extends layout


block header
    include includes/header


block content
    .content
        section
            .row

                .column-2.hidden-mobile.sidebar.noselect
                    include includes/sidebar
            
                .column-2.hidden-mobile.empty-container

                section.main
            
                    #topbar
                    #leaderboard-container