.row.main
	.column-8.prefix-2.suffix-2
		h2(style='margin-top:45px')
			| Submit an algorithm

		h3
			| Overview

		p
			| All our submissions are handled through GitHub. To submit an algorithm, follow these steps:

		ul

			li
				| Sign up for an account on GitHub (if you don't already have one)
			li
				| Fork the NeuroFinder repository
			li
				| Create a new branch of the repository
			li
				| Add a folder inside neurofinder/submissions with the structure described below
			li
				| Submit your branch as a pull request and wait for your algorithm to be validated and run. 

		p
			| Validation of algorithms will be performed soon after submission, but it may take up to a week for the results of job execution to be posted.