section.toppanel.noselect
  .row
    .column-4.prefix-2
      h3(style='color: white; font-size: 45px; margin-left: 30px') Current rankings
    .column-1
      .midline
    .column-2(style='margin-top:-16px')
      h2.infoglobal
        span(style='color: white') &nbsp; algorithms
        br
        span(style='color: white') &nbsp; datasets
    .column-1(style='margin-top:-16px; margin-left: -15px')
      - var algorithms = this.collection.length
      - var datasets = this.collection.models[0].getDatasets().length
      - var leader = "freeman-lab"
      h2.infoglobal
        span.round #{algorithms}
        br
        span.round #{datasets}
        