@import "mixins";
@import "fonts";
@import "lib/base";
@import "lib/skeleton";

.centered {
  text-align: center;
}

$header-height: 60px;
.header-container {

    
    width: 100%;
    background-color: black;

    position: fixed;
    height: $header-height;

    h3 {
        color: #fff;
        margin: 0;
        padding-top: $header-height / 4;
    }

    z-index: 1000;
}

.mobile {
  display: none;
}


@import "views/mobile-content";
@import "views/desktop-content";
@import "mobile";

