@import "mixins";
@import "fonts";
@import "lib/base";
@import "lib/highlight";
@import "lib/skeleton";

.centered {
  text-align: center;
}


#leaderboard-container {
    margin-left: 17%;
}

$header-height: 60px;
.header-container {

    top: 0;

    
    width: 100%;
    background-color: #1EB771;
    color: black;

    position: fixed;
    height: $header-height;

    h3 {
        color: #fff;
        margin: 0;
        padding-top: $header-height / 4;
    }

    z-index: 1000;
}

p {
    line-height: 1.4em
}

a {
    color: #DA1C5C;
    text-decoration: none;
    transition: all .20s;
}

a:hover {
    color: #8A123A;
}

h1,h2,h3,h4 {
    font-family: "Abel";
    color: rgb(80,80,80);
    // font-weight: bold;
}

h5 {
    font-family: "AvenirNext";
}

body {
    background-color: rgb(240,240,247);
    font-family: "AvenirNext";
    font-size: 16px;
}

hr {
    border-width: 3px 0 0;
}

li {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.list-normal {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 40px;
    line-height: 1.4em;
    list-style-type: square;
}

.list-name {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 40px;
    font-style: italic;
    list-style-type: square;
}

.list-number {
    font-weight: 800;
    font-family: "AvenirNext";
    color: rgb(71,71,71);
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    border: 2px solid rgb(71,71,71);
    text-align: center;
}

.mobile {
  display: none;
}

.hidden {
    display: none;
}

.content {
    padding-top: 0px;
}

.infoglobal {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.thumbnail {
    border-radius: 10px;
    border: solid 5px white;
    width: 300px;
}

.round {
    font-family: "AvenirNext";
    color: white;
    font-size: 22px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid white;
    text-align: center;
}

.row {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
}

.empty-container {
    z-index: -20;
}

.callout {
    color: rgb(80,80,80);
    font-weight: 800;
    font-size: 16px;
    margin-left: 3px;
    margin-right: 2px;
}

.code,
pre {
    background-color: rgb(250,250,250);
    font-family: monospace;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1;
}

.inline-code {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.15em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    font-weight: 600;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    font: 14px;
    font-family: monospace;
    margin-left: 5px;
    margin-right: 5px;
    color: #408F69;
}

ul { 
    margin: 0; padding: 0; 
}

.sidebar {
    background-color: rgb(240,240,247);
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    max-width: 275px;
    border-right: solid white 10px;
}

section {
    margin-top: 0px;
}

.sidetitle {
    font-family: Consolas;
    font-style: italic;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    color: rgb(80,80,80);
    margin-top: 300px;
    margin-left: 75px;
    font-size: 60px;
    font-weight: 800;
}

.sidepanels {
    margin-top: 110px;
}

.main {
    margin-left: 40px;
}

.midline {
    border-left: dotted white 5px;
    height: 40px;
}

.toppanel {
    background-color: #2BB673;
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: solid white 10px;
    margin-left: -50px;
    padding-left: 50px;

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 50px;
    }
}

.sidesubtitle {
    
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 30px;
    text-align: right;
    border-left: solid white 10px;
    cursor: pointer;

    background-color: #2BB673;
    z-index: 0;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.sidesubtitle:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.sidesubtitle:hover:after {
    width: 25%;
}

.sidesubtitle:active:after {
    width: 100%;
}

.sidesubtitle:active {
    z-index: 1000;
    color: rgb(80,80,80);
}

.subtable {
    background-color: white;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 8px 8px;
    margin-bottom: 20px;
    cursor: pointer;
    border: solid 1px white;
    border-left: solid 6px white;
    pointer-events: all !important;
}

.subtable:hover {
    box-shadow: 0 0 0px 6px rgba(180,180,180,.35)
}

.toptable {
    margin-top: 40px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dataset-name {
    text-align:left;
    margin-bottom:1px;
}

.dataset-contributors {
    text-align:left;
}

table {

    font-size: 14px;

    transition: all 0.15s ease;

    width: 100%;

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .pad-left {
        padding-left: 15px;
    }

    .pad-right  {
        padding-right: 15px;
    }

    .pad-bottom {
        padding-bottom: 10px;
    }

    tr.details {
        margin-top: 0;
        td {
            // padding: 0;
            text-align: right;
            text-transform: uppercase;

            &.metric-label {
                padding-right: 15px;
            }
        }
    }

    thead {

        .dataset-container {
            // border-bottom: solid 1px #979797;
            margin-bottom: 10px;
        }

        .dataset {
            padding-top: 10px;
            font-size: 12px;

            &.overall {
                font-weight: bold;
            }

        }

    }

    tbody {
        text-align: center;

        tr {
            cursor: pointer;
            // &:hover.overview {
            //     background-color: darken(#E8DADE, 5%);
            // }

            &.details {
                display: none;
            }
        }

        // .metric-label {
        //     width: 200px;
        // }

        th {

            &.number-label {
                width: 75px;
            }
        }

        td {

            height: 75px;
            // padding-top: 10px;
            // padding-bottom: 10px;
            vertical-align: middle;
            // padding-left: 10px;
            // padding-right: 10px;

            &.avatar {
                display: block;
                text-align: left;
                padding-left: 0px;
                width: 40px;
                height: 40px;
                padding-top: 20px;
                padding-right: 0;
                img {
                    vertical-align: middle;
                    width: 75px;
                    height: auto;
                    border-radius: 3px;
                    
                }
            }

            &.submission-image {
                display: -webkit-inline-box;
                text-align: left;
                vertical-align: top;
                padding-left: 0px;
                height: 75px;
                margin-left: -25px;
            }

            &.number {
                font-family: monospace;
                text-align: center;
                width: 75px;
                border-radius: 10px;
            }

            &.number:hover {
                box-shadow: 0 0 0px 2px rgba(50,50,50,.55)
            }


            &.details {
                padding-right: 15px;
                padding-left: 15px;
                text-align: left;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }


            /*.url {
                color: blue;
                text-decoration: underline;
                max-width: 75%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                a {
                    color: blue;
                }


            }*/

            .metric-label {
                opacity: 0;
                text-align: right;
                text-transform: uppercase;
                padding-right: 15px;
            }

            &.table-container {
                padding: 0;
            }
        }
    }
}

@import "mobile";

