section.toppanel
  .row
    .column-4.prefix-2
      h3 Current rankings
    .column-1
      .midline
    .column-3
      - var count = 10
      h2 
        span.round #{count} 
        span &nbsp; algorithms